<h1>Sign up</h1>
<%= form_for @user do |f| %>
  <%= f.label "Avatar" %><br>
  <%= f.text_field :avatar %><hr>
  <%= f.label "User Name" %><br>
  <%= f.text_field :user_name %><hr>
  <%= f.label "Email" %><br>
  <%= f.text_field :email %><hr>
  <%= f.label "Password" %><br>
  <%= f.password_field :password %><hr>
  <%= f.label :password_confirmation %><br>
  <%= f.password_field :password_confirmation %><br>
  <hr>
  <%= f.submit "Sign Up" %>
<% end %>
